{{ partial "header.html" . }}

<article itemid="{{ .Permalink | absURL }}" itemscope itemtype="http://schema.org/Article">
	<h1 itemprop="headline">{{.Title}}</h1>
	<div itemprop="articleBody">
		{{.Content}}
	</div>

	<meta itemprop="author" content="{{.Site.Params.Author}}">
	<meta itemprop="datePublished" content="{{.Date}}">
	{{ if .Params.image }}
	<meta itemprop="image" content="{{ .Site.BaseURL }}{{ .Params.image  }}">
	{{ else }}
	<meta itemprop="image" content="{{ .Site.BaseURL }}{{ .Site.Params.image}}">
	{{ end }}
	{{ with .Keywords }}
	<meta itemprop="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
	{{ end }}

	{{ if .Params.PageStart }}
	<meta itemprop="pageStart" content="{{ .Params.PageStart }}">
	{{ end }}

	{{ if .Params.Position }}
	<meta itemprop="position" content="{{ .Params.Position }}">
	{{ end }}
	<!--meta itemprop="articleSection" content="{{.Title}}"-->
	<!--meta itemprop="" content="123"-->
</article>

{{ partial "likely.html"}}

<nav>
{{ if eq .Section "pr"}}
	<h3>Приложение</h3>
	{{ partial "list-pr-by-position.html" . }}
{{else}}
	{{ partial "nav-next-link.html" . }}
{{end}}
</nav>
{{ partial "footer.html" . }}