<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/ilyabirman-likely-2.5/likely.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<title>{{ .Title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Summary }}">
</head>

<body>
	<div class=" centr">
		
	<header>
		<nav>
			<a href="/">ДОТУ</a> · 
			<a href="/about/">О проекте</a>
		</nav>
		<div class="form-search">
			{{ partial "form-search.html" . }}
		</div>
	</header>